div.screenContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
div.centeredCard {
    padding: 15px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1, div.fullWidth {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
div.fullWidth mat-form-field, div.fullWidth app-currency-picker {
    width: 25%;
}
h1 {
    font-size: 2.5em;
}

div.resultsDiv {
    font-size: 1.5em;
    padding-top: 20px;
}